<h1>This is your cannabis plant!</h1>
<h4><%= @cannabis_plant.cannabis_species %></h4>
<h4><%= @cannabis_plant.variety_name %></h4>
<h4><%= @cannabis_plant.number_of_seeds %></h4>


<li><%= link_to "Select your grow room or create a new one", new_grow_room_path %></li>
