<h2> View all of the market offers! </h2>
<br>
<% @markets.each do |m| %>
    <h3>Farmer: <%= m.harvest.cannabis_plant.user.username %></h3>
    <h4>Cannabis Strain: <%= link_to m.harvest.cannabis_plant.strain.name, cannabis_plant_path(m.harvest.cannabis_plant) %></h4>
    <h4>Amount for Sale: <%= m.amount_for_sale %> grams</h4>
    <h4>Asking Price: $<%= m.asking_price %></h4>
    <br>
    <% end %>


