<h1>DreamFarmer</h1>
<% if @harvest %>
<h1>View the market offers for <%= @harvest.cannabis_plant.strain.name %>!</h1>
<% else %>
    <h1> View all of the market offers! </h1>
<% end %>

<% @markets.each do |m| %>
    <h3><%= m.cannabis_plant.strain.name %></h3>
    <h4><%= m.amount_for_sale %></h4>
    <h4><%= m.asking_price %></h4>
    <% end %>


